[submodule "cbindgen"]
	path = cbindgen
	url = https://github.com/eqrion/cbindgen
[submodule "vendor/ansi-term"]
	path = vendor/ansi-term
	url = https://github.com/ogham/rust-ansi-term
[submodule "vendor/atty"]
	path = vendor/atty
	url = https://github.com/softprops/atty
[submodule "vendor/autocfg"]
	path = vendor/autocfg
	url = https://github.com/cuviper/autocfg
[submodule "vendor/bitflags"]
	path = vendor/bitflags
	url = https://github.com/bitflags/bitflags
[submodule "vendor/cfg-if"]
	path = vendor/cfg-if
	url = https://github.com/alexcrichton/cfg-if
[submodule "vendor/clap"]
	path = vendor/clap
	url = https://github.com/clap-rs/clap
[submodule "vendor/cloudabi"]
	path = vendor/cloudabi
	url = https://github.com/nuxinl/cloudabi
[submodule "vendor/getrandom"]
	path = vendor/getrandom
	url = https://github.com/rust-random/getrandom
[submodule "vendor/hashbrown"]
	path = vendor/hashbrown
	url = https://github.com/rust-lang/hashbrown
[submodule "vendor/heck"]
	path = vendor/heck
	url = https://github.com/withoutboats/heck
[submodule "vendor/hermit"]
	path = vendor/hermit
	url = https://github.com/hermitcore/rusty-hermit
[submodule "vendor/indexmap"]
	path = vendor/indexmap
	url = https://github.com/bluss/indexmap
[submodule "vendor/itoa"]
	path = vendor/itoa
	url = https://github.com/dtolnay/itoa
[submodule "vendor/lazy-static.rs"]
	path = vendor/lazy-static.rs
	url = https://github.com/rust-lang-nursery/lazy-static.rs
[submodule "vendor/libc"]
	path = vendor/libc
	url = https://github.com/rust-lang/libc
[submodule "vendor/parking_lot"]
	path = vendor/parking_lot
	url = https://github.com/Amanieu/parking_lot
[submodule "vendor/log"]
	path = vendor/log
	url = https://github.com/rust-lang/log
[submodule "vendor/cryptocorrosion"]
	path = vendor/cryptocorrosion
	url = https://github.com/cryptocorrosion/cryptocorrosion
[submodule "vendor/proc-macro2"]
	path = vendor/proc-macro2
	url = https://github.com/alexcrichton/proc-macro2
[submodule "vendor/quote"]
	path = vendor/quote
	url = https://github.com/dtolnay/quote
[submodule "vendor/rand"]
	path = vendor/rand
	url = https://github.com/rust-random/rand
[submodule "vendor/redox_syscall"]
	path = vendor/redox_syscall
	url = https://gitlab.redox-os.org/redox-os/syscall
[submodule "vendor/remove_dir_all"]
	path = vendor/remove_dir_all
	url = https://github.com/XAMPPRocky/remove_dir_all
[submodule "vendor/ryu"]
	path = vendor/ryu
	url = https://github.com/dtolnay/ryu
[submodule "vendor/scopeguard"]
	path = vendor/scopeguard
	url = https://github.com/bluss/scopeguard
[submodule "vendor/serde"]
	path = vendor/serde
	url = https://github.com/serde-rs/serde
[submodule "vendor/serde_json"]
	path = vendor/serde_json
	url = https://github.com/serde-rs/json
[submodule "vendor/serial_test"]
	path = vendor/serial_test
	url = https://github.com/palfrey/serial_test/
[submodule "vendor/smallvec"]
	path = vendor/smallvec
	url = https://github.com/servo/rust-smallvec
[submodule "vendor/strsim"]
	path = vendor/strsim
	url = https://github.com/dguo/strsim-rs
[submodule "vendor/syn"]
	path = vendor/syn
	url = https://github.com/dtolnay/syn
[submodule "vendor/tempfile"]
	path = vendor/tempfile
	url = https://github.com/Stebalien/tempfile
[submodule "vendor/textwrap"]
	path = vendor/textwrap
	url = https://github.com/mgeisler/textwrap
[submodule "vendor/toml"]
	path = vendor/toml
	url = https://github.com/alexcrichton/toml-rs
[submodule "vendor/unicode-segmentation"]
	path = vendor/unicode-segmentation
	url = https://github.com/unicode-rs/unicode-segmentation
[submodule "vendor/unicode-width"]
	path = vendor/unicode-width
	url = https://github.com/unicode-rs/unicode-width
[submodule "vendor/unicode-xid"]
	path = vendor/unicode-xid
	url = https://github.com/unicode-rs/unicode-xid
[submodule "vendor/vec_map"]
	path = vendor/vec_map
	url = https://github.com/contain-rs/vec-map
[submodule "vendor/wasi"]
	path = vendor/wasi
	url = https://github.com/bytecodealliance/wasi
[submodule "vendor/winapi"]
	path = vendor/winapi
	url = https://github.com/retep998/winapi-rs
